<polymer-element name="phone-number" attributes="phoneNumber">
  <template>
    <style>
      input {
        width: 81%;
        margin: 0;
        vertical-align: middle;
        line-height: 20px;
        display: inline-block;
        background-color: #ffffff;
        padding: 4px 6px;
        margin-bottom: 10px;
        height: 24px;
        border: 1px solid #ddd;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        color: #888;
        font-size: 13px;
        font-style: italic;
      }
    </style>
      
    <input id="txtPhone" 
      type="text"
      placeholder="999-999-9999" 
      maxlength="12" 
      value="{{phoneNumber}}"
      on-keyDown="{{enforcePhoneInputMask}}"
      on-blur="{{clearPhoneIfInvalid}}"/>
    
  </template>
  <script type="application/dart" src="phone_number.dart"></script>
</polymer-element>




